

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    
    @await Component.InvokeAsync("_DefaultSliderComponentPartial")

    @await Component.InvokeAsync("_DefaultDealOfTheDayComponentPartial")

    @await Component.InvokeAsync("_DefaultTrendFoodComponentPartial")

</div>


