@model List<Product>

@{
    Layout = null;
    <link href="~/css/site.css" rel="stylesheet" />
}

<br />
<h2 id="trendFood" class="header-title">Trend Yemekler</h2>
<div class="container">
    <div class="row justify-content-between">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                <div class="card card-custom mt-3 shadow-sm" style="width: 18rem;">
                    <img src="~/img/@item.Image" class="card-img-top recipe-img" style="height: 200px; object-fit: cover;" alt="@item.Name">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title recipe-title">@item.Name</h5>
                        <p class="card-text description">@((item.ShortDescription?.Length > 80 ? item.ShortDescription.Substring(0, 80) + "..." : item.Description))</p>
                        <a href="/Product/Detail/@item.ProductId" class="btn btn-primary-custom w-100 mt-auto">Tarife Git</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>