@model List<Product>

@{
    Layout = null;
}

<br />
<h2 id="dealOfTheDay" class="text-center my-4">Günün Yemekleri</h2>
<div class="row justify-content-between">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
            <div class="card mt-3 shadow-sm" style="width: 18rem; border-radius: 10px; overflow: hidden;">
                <img src="~/img/@item.Image" class="card-img-top" style="height: 200px; object-fit: cover;" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@((item.ShortDescription?.Length > 80 ? item.ShortDescription.Substring(0, 80) + "..." : item.Description))</p>
                    <a href="/Product/Detail/@item.ProductId" class="btn btn-primary w-100">Tarife Git</a>
                </div>
            </div>
        </div>
    }
</div>
